<a href="https://colab.research.google.com/github/DanielMirandaAyala/edd_1358_2021/blob/edd_1358_2021/2_octubre_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#String pueden emprear comillas dobles, simples o triples comillas dobles ('',"",""" """"")
universidad = "     universidad     nacional     autonoma     de     mexico"
print(universidad)

#Cuando es una sola palabra solo se usan las comillas simples
carrera = 'ico'
area = 'software'
division = "division de las ciencias fisico matematicas"

#Se usan triples comillas cuando el string ocupa varios renglones
frase = """Si funciona, 
no lo arregles"""

print(carrera, area)
print(division)
print(frase)

     universidad     nacional     autonoma     de     mexico
ico software
division de las ciencias fisico matematicas
Si funciona,
no lo arregles

In [22]:
#Colocar todo el texto en mayúsculas
print(universidad.upper())

#Imprimir el texto
print(universidad)

#Colocar mayúsculas en las primeras letras
print(universidad.title())

#Eliminar espacios a la derecha e izquierda
universidad = universidad.strip()
print(universidad)
lista = universidad.split("  ")
print(lista)
nueva = ""
for l in lista:
  if len(l) > 0:
      nueva += l + " "
print(nueva)

numeros = "1,2,34,56,100"

separados = numeros.split(",")
print(separados)
numeros_int = []
for num in separados:
  numeros_int.append(int(num))

print(numeros_int)
print(nueva)
print(nueva.index("na"))

print(nueva.replace(' ', '_'))
print(nueva)

UNIVERSIDAD     NACIONAL     AUTONOMA     DE     MEXICO
universidad     nacional     autonoma     de     mexico
Universidad     Nacional     Autonoma     De     Mexico
universidad     nacional     autonoma     de     mexico
['universidad', '', ' nacional', '', ' autonoma', '', ' de', '', ' mexico']
universidad  nacional  autonoma  de  mexico
['1', '2', '34', '56', '100']
[1, 2, 34, 56, 100]
universidad  nacional  autonoma  de  mexico
13
universidad__nacional__autonoma__de__mexico_
universidad  nacional  autonoma  de  mexico

# Tipos de Datos
-String = str

Guarda una letra, palabra o frase en una variable

-Int = int

Guarda un número entero en una variable

-Numero Flotante = float

Guarda un valor flotante

-Logico = bool

Solo puede gue¿ardad dos valores: Verdadero o falso

False: bool(0)

True: bool (1)

-Numero Complejo = complex

Dato de número complejo

-Listas

-DIccionarios

-Tuplas

-Conjuntos

# slicing
sintaxis
[inicio : stop : incremento]

Valores por defecto [0 : longitud de la lista : 1]

In [28]:
#Selector de elementos en un string
print(nueva[0])
nueva = nueva.strip()
print(nueva[len(nueva) -1]) #indexado negativo
print(nueva[-2])

#slicing
print(nueva)
print(nueva[12 : 20 : 1])
print(nueva[-6 :   : 1])

#cadena al revés
print(nueva[-1 :   : -1])

#mexico al revés con slicing
print(nueva[-1 : -7 : -1])

print(nueva[:4:])

u
o
c
universidad  nacional  autonoma  de  mexico
 naciona
mexico
ocixem  ed  amonotua  lanoican  dadisrevinu
ocixem
univ

#Bool

In [30]:
print(bool(0))
print(bool(64892))
flag = 0
print(bool(flag))
print(True)

False
True
False
True

#Comentarios

Para un comentario de una línea se usa "#"

Para un comentario de múltiple línea se utiliza """

In [32]:
#Este es un comeltario de línea simple

"""
Este 
  es
    un
      comentario
        de
          múltiple
            línea
"""

'\nEste \n  es\n    un\n      comentario\n        de\n          múltiple\n            línea\n'

#función print

Hay cuatro formas de utilizar print:

1.Usando comas

2.Usando signo +

3.Usando la función format de la clase string

4.Con el operador f""

In [37]:
#Con comas
cantidad = 2
precio_cheetos = 8
precio_fanta = 12

print(cantidad, precio_cheetos, precio_fanta)

#Con sigo más (solo opera con string)
print("hola" + "mundo")
print(str(cantidad) + str(precio_cheetos) + str(precio_fanta))

2 8 12
holamundo
2812